*{padding: 0;
    margin: 0;
    }
@import "./abstract/variables";
@import "./abstract/listas";
@import "./abstract/maps";
@import "./componentes/body";
@import "./componentes/footer";
@import "./componentes/header";
@import "./abstract/mixin";
@import './abstract/extend';
      



    
main{
    text-align: left;
    color: aliceblue;
    padding: 150px;

}
.seccion{
    padding: 150px;
    color: bisque;
    }
@media (max-width: 576px){
    .titulo{
        text-align: center;
    }
    .padre-grid{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .seccion{
        display: flex;
        flex-wrap: wrap;
    }
    .imgc{
        width: 100%;
    }
}